In [5]:
import pandas as pd
import numpy as np

In [6]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=["Column1","Column2","Column3","Column4"])

#index is Rowindex,columns is column index

In [7]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [8]:
df.to_csv("test1.csv")
#file created and saved data

In [9]:
#Accessing the elements

## by .loc
##by .iloc


df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int64

In [10]:
type(df.loc['Row1'])
#series can be either one row or one column

pandas.core.series.Series

In [11]:
#if more than one row we are going to get dataframe

In [12]:
df.iloc[:,:]
# row,column
# so all the rows and all the columns

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [13]:
type(df.iloc[:,:])

pandas.core.frame.DataFrame

In [14]:
df.iloc[0:2,0:2]

      Column1  Column2
Row1        0        1
Row2        4        5

In [15]:
#in R Programming language the indexing start from 1
#in python programming language the indexing start from 0

In [16]:
#Data frames can be converted to arrays by just dropping the row and column indexes

df.iloc[:,1:].values
#.values is converting to arrays

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [17]:
df.iloc[:,1:].values.shape

(5, 3)

In [18]:
#how to check count of null values  in a dataframe

df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [19]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [20]:
df['Column4'].value_counts()

# frequency of each data in the given Column

Column4
3     1
7     1
11    1
15    1
19    1
Name: count, dtype: int64

In [21]:
df['Column4'].unique()
#will capture the unique values

array([ 3,  7, 11, 15, 19])

In [22]:
print (df['Column3'])
type(df['Column3'])

Row1     2
Row2     6
Row3    10
Row4    14
Row5    18
Name: Column3, dtype: int64

pandas.core.series.Series

In [23]:
df[['Column1','Column2']]

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9
Row4       12       13
Row5       16       17

In [24]:
#Tutorial6 Krish Naik Python English Playlist

In [25]:
df=pd.read_csv("pcos_prediction_dataset.csv")

In [26]:
#df=pd.read_csv("test1.csv",sep=';')
#if the file has data with ';' as separator

In [27]:
df.head()

,Country,Age,BMI,Menstrual Regularity,Hirsutism,Acne Severity,Family History of PCOS,Insulin Resistance,Lifestyle Score,Stress Levels,Urban/Rural,Socioeconomic Status,Awareness of PCOS,Fertility Concerns,Undiagnosed PCOS Likelihood,Ethnicity,Diagnosis
0,Madagascar,26,Overweight,Regular,Yes,Severe,Yes,Yes,2,Low,Rural,High,Yes,No,0.107938,Hispanic,Yes
1,Vietnam,16,Underweight,Regular,Yes,NaN,No,Yes,4,High,Rural,Middle,Yes,No,0.156729,Other,No
2,Somalia,41,Normal,Regular,No,Moderate,No,No,7,Medium,Urban,Middle,Yes,Yes,0.202901,Other,No
3,Malawi,27,Normal,Irregular,No,Mild,No,No,10,Low,Urban,High,Yes,No,0.073926,Caucasian,Yes
4,France,26,Overweight,Irregular,Yes,NaN,No,No,7,Medium,Urban,Middle,No,No,0.229266,Caucasian,No

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 17 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Country                      120000 non-null  object
 1   Age                          120000 non-null  int64
 2   BMI                          120000 non-null  object
 3   Menstrual Regularity         120000 non-null  object
 4   Hirsutism                    120000 non-null  object
 5   Acne Severity                59915 non-null   object
 6   Family History of PCOS       120000 non-null  object
 7   Insulin Resistance           120000 non-null  object
 8   Lifestyle Score              120000 non-null  int64
 9   Stress Levels                120000 non-null  object
 10  Urban/Rural                  120000 non-null  object
 11  Socioeconomic Status         120000 non-null  object
 12  Awareness of PCOS            120000 non-null  object
 13  Fertility Concerns           120000 non-null  object
 14  Undiagnosed PCOS Likelihood  120000 non-null  float64
 15  Ethnicity                    120000 non-null  object
 16  Diagnosis                    120000 non-null  object
dtypes: float64(1), int64(2), object(14)
memory usage: 15.6+ MB

In [29]:
df.describe

<bound method NDFrame.describe of            Country  Age          BMI Menstrual Regularity Hirsutism  \
0       Madagascar   26   Overweight              Regular       Yes
1          Vietnam   16  Underweight              Regular       Yes
2          Somalia   41       Normal              Regular        No
3           Malawi   27       Normal            Irregular        No
4           France   26   Overweight            Irregular       Yes
...            ...  ...          ...                  ...       ...
119995      Guinea   28       Normal              Regular        No
119996  Mozambique   35   Overweight              Regular        No
119997    Cambodia   16       Normal              Regular        No
119998       Benin   15        Obese              Regular       Yes
119999      Brazil   17        Obese            Irregular       Yes

       Acne Severity Family History of PCOS Insulin Resistance  \
0             Severe                    Yes                Yes
1                NaN                     No                Yes
2           Moderate                     No                 No
3               Mild                     No                 No
4                NaN                     No                 No
...              ...                    ...                ...
119995      Moderate                    Yes                 No
119996           NaN                     No                 No
119997      Moderate                     No                 No
119998           NaN                    Yes                Yes
119999           NaN                     No                 No

        Lifestyle Score Stress Levels Urban/Rural Socioeconomic Status  \
0                     2           Low       Rural                 High
1                     4          High       Rural               Middle
2                     7        Medium       Urban               Middle
3                    10           Low       Urban                 High
4                     7        Medium       Urban               Middle
...                 ...           ...         ...                  ...
119995                3           Low       Urban               Middle
119996                5           Low       Rural                 High
119997                9        Medium       Rural                  Low
119998                1        Medium       Rural                 High
119999                6        Medium       Rural                  Low

       Awareness of PCOS Fertility Concerns  Undiagnosed PCOS Likelihood  \
0                    Yes                 No                     0.107938
1                    Yes                 No                     0.156729
2                    Yes                Yes                     0.202901
3                    Yes                 No                     0.073926
4                     No                 No                     0.229266
...                  ...                ...                          ...
119995               Yes                Yes                     0.090663
119996               Yes                Yes                     0.167482
119997               Yes                Yes                     0.236241
119998                No                 No                     0.119993
119999               Yes                 No                     0.223073

        Ethnicity Diagnosis
0        Hispanic       Yes
1           Other        No
2           Other        No
3       Caucasian       Yes
4       Caucasian        No
...           ...       ...
119995    African        No
119996      Asian        No
119997    African       Yes
119998   Hispanic        No
119999      Asian        No

[120000 rows x 17 columns]>

In [30]:
df['Country'].value_counts()

Country
Burkina Faso    1667
Malawi          1632
Ghana           1629
Vietnam         1626
South Korea     1626
                ...
Netherlands     1500
Algeria         1496
Uganda          1487
Zambia          1479
Cambodia        1441
Name: count, Length: 77, dtype: int64

In [31]:
df[df["Lifestyle Score"] < 5]

,Country,Age,BMI,Menstrual Regularity,Hirsutism,Acne Severity,Family History of PCOS,Insulin Resistance,Lifestyle Score,Stress Levels,Urban/Rural,Socioeconomic Status,Awareness of PCOS,Fertility Concerns,Undiagnosed PCOS Likelihood,Ethnicity,Diagnosis
0,Madagascar,26,Overweight,Regular,Yes,Severe,Yes,Yes,2,Low,Rural,High,Yes,No,0.107938,Hispanic,Yes
1,Vietnam,16,Underweight,Regular,Yes,NaN,No,Yes,4,High,Rural,Middle,Yes,No,0.156729,Other,No
5,Rwanda,17,Overweight,Irregular,No,NaN,No,Yes,3,Low,Urban,High,Yes,Yes,0.209841,African,No
8,United States,47,Normal,Regular,Yes,NaN,Yes,No,1,Medium,Urban,Low,Yes,No,0.103628,Asian,Yes
9,Italy,21,Underweight,Irregular,No,Mild,No,No,1,Medium,Rural,Low,Yes,No,0.102774,African,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119991,Mozambique,27,Normal,Regular,Yes,NaN,No,Yes,3,Medium,Urban,Middle,No,Yes,0.100742,African,No
119993,Rwanda,17,Overweight,Regular,No,NaN,Yes,No,4,High,Urban,High,No,No,0.099718,Hispanic,No
119994,Germany,44,Normal,Regular,Yes,Mild,No,Yes,4,Medium,Urban,Low,Yes,Yes,0.087747,Caucasian,No
119995,Guinea,28,Normal,Regular,No,Moderate,Yes,No,3,Low,Urban,Middle,Yes,Yes,0.090663,African,No
119998,Benin,15,Obese,Regular,Yes,NaN,Yes,Yes,1,Medium,Rural,High,No,No,0.119993,Hispanic,No

CSV

In [32]:
from io import StringIO,BytesIO

In [33]:
data= ('col1,col2,col3\n'
             'x,y,1\n'
              'a,b,2\n'
             'c,d,3')

In [34]:
type(data)

str

In [35]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [36]:
#Read Specific columns
df=pd.read_csv(StringIO(data),usecols=['col1','col3'])
df

  col1  col3
0    x     1
1    a     2
2    c     3

In [37]:
df.to_csv("Test.csv")
#written to a new csv file

In [38]:
#Specifying column data type
data= ('a,b,c,d\n'
        '1,2,3,4\n'
         '5,6,7,8\n'
       '9,10,11')

In [39]:
print(data)

a,b,c,d
1,2,3,4
5,6,7,8
9,10,11

In [40]:
df=pd.read_csv(StringIO(data),dtype=object)
df

   a   b   c    d
0  1   2   3    4
1  5   6   7    8
2  9  10  11  NaN

In [41]:
data1=data= ('a,b,c,d\n'
        '1,2,3,4\n'
         '5,6,7,8\n'
       '9,10,11,12')

#added 12 here,as NAN in dtype int will give error

In [42]:
df=pd.read_csv(StringIO(data1),dtype=int)
df

   a   b   c   d
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [43]:
df=pd.read_csv(StringIO(data),dtype=float)
df

     a     b     c     d
0  1.0   2.0   3.0   4.0
1  5.0   6.0   7.0   8.0
2  9.0  10.0  11.0  12.0

In [44]:
df=pd.read_csv(StringIO(data),dtype={'a':int,'b':float,'c':'Int64','d':object})
df

   a     b   c   d
0  1   2.0   3   4
1  5   6.0   7   8
2  9  10.0  11  12

In [45]:
df.dtypes

a      int64
b    float64
c      Int64
d     object
dtype: object

In [46]:
df['a']

0    1
1    5
2    9
Name: a, dtype: int64

In [47]:
print (df['a'][0])

1

In [70]:
#index column

data= ('index,a,b,c\n'
       '4,apple,bat,5.7\n'
       '8,orange.cow,10')

In [49]:
pd.read_csv(StringIO(data))

   index           a    b   c
0      4       apple  bat  5.7
1      8  orange.cow   10  NaN

In [71]:
pd.read_csv(StringIO(data),index_col=0)

#0th column you want to make index column

                a    b    c
index
4           apple  bat  5.7
8      orange.cow   10  NaN

In [72]:

data= ('a,b,c\n'
       '4,apple,bat\n'
       '8,orange,cow')

In [73]:
pd.read_csv(StringIO(data),index_col=False)
#

   a       b    c
0  4   apple  bat
1  8  orange  cow

In [76]:
pd.read_csv(StringIO(data),usecols=['b','c'],index_col=False)

        b    c
0   apple  bat
1  orange  cow

In [ ]:
#Quoting and Escape Characters.Very useful in NlP

In [77]:
data='a,b\n
      "hello,\\"Bob\\",nice to see you",5'

#convert to dataframe

In [78]:
pd.read_csv(StringIO(data),escapechar='\\')

                             a  b
0  hello,"Bob",nice to see you  5

In [ ]:
#url to csv
#df= pd.read_csv("https://...............", sep='\t')
#here "tab" is the separator

In [ ]:
pd.read_csv